.nav-items {
    margin-left: 50px;
}
.nav-items2 {
    margin-left: 150px;
}
.btn-green {
    background-color: #B9FF66;
    border: none;
    width: 150px;
    height: 40px;
    font-size: x-large;
    font-weight: 600;
}
.para {
    text-align: start;
}
@media (min-width: 0px) and (max-width: 768px) { 
    .btn-green {
        background-color: #B9FF66;
        border: none;
        width: 150px;
        height: 40px;
        font-size: x-large;
        font-weight: 600;
        margin-left: 180px;
    }
    .btn-green2 {
        background-color: #B9FF66;
        border: none;
        width: 250px;
        height: 40px;
        font-size: x-large;
        font-weight: 600;
        margin-left: 130px;
    }
    .para {
        text-align: center;
    }
    .btn-foot {
        background-color: #B9FF66;
        border: none;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        font-size: medium;
        font-weight: 600;
        margin-left: 190px;
    }
    .foot-info {
        margin-left: 1px;
    }
    .foot-logo {
        margin-left: 120px;
    }
    .plus {
        width: 60%;
    }
    .hero-sec h1 {
        font-size: 55px;
        margin-left: 60px;
    }
    .hero-sec p {
        display: none;
    }
    .hero-sec button {
        display: none;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img button {
        width: 450px;
        height: 50px;
        font-size: large;
    }
    
    
}

.btn-green2 {
    background-color: #B9FF66;
    border: none;
    width: 250px;
    height: 40px;
    font-size: x-large;
    font-weight: 600;
}
.btn-foot {
    background-color: #B9FF66;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: medium;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.btn-foot-2 {
    background-color: #B9FF66;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: medium;
    font-weight: 600;
}
.foot-info {
    margin-left: 20px;
}
